.container{
    width:500px;
    height:500px;
    background-color:green;
    border:4px solid black;
    display:flex;
}

.box{
    background-color: aqua;
    border:3px solid black;
    height:150px;
    width:150px;
    padding:10px;
    margin:10px;

    transition:2s;

    transition-property: background-color; /*which property is to be transitoned */
    transition-duration: 5s; /*transition goes on for how much time */
    transition-timing-function: ease; /*transition takes place in which form */
    transition-delay: 2s; /*after how much time should transition start */
    transition:background-color 3s ease 1s; /*shorthand notation for above 4 properties*/
    
    /* transition:transform 2s ease; */

    /* transition-timing-function: cubic-bezier(1,-0.73, 0, 1.18);  */
    /*custom timing function taken out through inspect element */

    transition : transform 5s ease;

}

.box:hover{
    background-color:red;
    transform:scale(2) translateX(500px) rotate(360deg);
}