.divi{
    border:1px solid black;
    background-color: aqua;
    /* height: 100px;
    width:100px; */
    /* transform: translate(200px, 150px);changes position */
    /* transform: rotate(-45deg); */
    /* transform: translate(300px, 300px); */
    margin:200px;
    transform: scale(6,8);
    transform: skew(20deg);
}